#game_container {
    position: relative;
    height: 80vh;
    width: 80vw;
    top: 42vh;
    left: 50vw;
    transform: translate(-50%, -50%)
}

#counter {
    border: 2px solid black;
}

#video_player {
    /*z-index: -1;*/
    border: 2px solid orange;
}

.center_box {
    position: absolute;
    height: 15%;
    width: 10%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#player_1 {
    left: 30%;
}

#player_2 {
    left: 70%;
}

.player_box {
    top: 40%;
    position: absolute;
    height: 60%;
    width: 20%;
    border: 2px solid blue;
    transform: translate(-50%, -50%);
}

#player_1_key_display {
    left: 30%
}

#player_2_key_display {
    left: 70%
}

.player_key_display {
    top: 85%;
    position: absolute;
    height: 15%;
    width: 15%;
    border: 2px solid green;
    transform: translate(-50%, -50%)
}

#player_1_stats {
    left: 10%
}

#player_2_stats {
    left: 90%
}

.player_stats {
    top: 40%;
    position: absolute;
    height: 50%;
    width: 10%;
    border: 2px solid red;
    transform: translate(-50%, -50%);
}